.navContainer {
  width: 100vw;
  display: flex;
  padding: .5em 1.3em;
  position: fixed;
  justify-content: space-between;
  z-index: 1;
}

.logo {
  width: 100px;
}

.navLinks,
.MobnavLinks {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  margin: 1em 0;
}

.subNav {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 4.5em;
  gap: .5em;
  background-color: black;
  width: 100%;
  left: 0;
  padding: 4em 2em;
}

.subNavContact {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 20em;
  background-color: black;
}

.menuWrapper {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: block;
}

.menu {
  width: 1.7em;
  height: 1.7em;
}

@media (min-width: 420px) {
  .navContainer {
    justify-content: space-between;
    padding: .5em 100px;
  }

  .logo {
    width: 160px;
  }

  .subNav,
  .subNavContact {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 28px;
    position: initial;
    top: 0;
    background-color: transparent;
    width: auto;
    padding: 0;
  }

  .navLinks {
    font-size: 16px;
  }

  .menuWrapper {
    display: none;
  }

  .MobnavLinks {
    display: none;
  }
}