.container {
  width: 100vw;
  /* height: 100vh; */
  padding: 0 100px;
}

.subHeading {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 2em;
  width: 58em;
}

.itemContent {
  color: #331B3B;
  font-size: 12px;
  font-weight: 400;
}

.itemName {
  color: #000;
  font-size: 12px;
  font-weight: 600;
}

.sliderWrapper {
  width: auto;
  background: #FFF;
  box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.08);
  padding: 2em 1.7em;
}

.slick-slide {
  margin: 0 10px;
}

.item {
  width: 100%;
}

.testIcon {
  display: flex;
  gap: .3em;
}

.arrowPrev {
  color: aqua;
  background-color: red;
}

@media (max-width: 600px) {
  .container {
    padding: 1em 1.5em;
    background: url("/images/testimonial.png"), #ffffff;
  }

  .subHeading {
    width: 100%;
    font-size: 14px;
  }

  .item {
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.08);
    width: 500px;
  }

  .itemContent {
    font-size: 16px;
  }

  .itemName {
    font-size: 16px;
  }
}