.container {
  width: 100vw;
  padding: 2em 100px;
}

.subHeading {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 2em;
  width: 58em;
  margin-top: 1em;
}

.itemContent {
  color: #331B3B;
  font-size: 14px;
  font-weight: 400;
  margin: 2em 0;
}

.itemName {
  color: #000;
  font-size: 12px;
  font-weight: 600;
}

.sliderWrapper {
  width: 100%;
  box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.08);
  padding: 2em 1.7em;
}

.slick-slide {
  margin: 0 10px;
}

.item {
  width: 80%;
}

.testIcon {
  display: flex;
  gap: .3em;
}

.arrowPrev {
  color: aqua;
  background-color: red;
}

.slick-center {
  transform: scale(1.08);
  /* Adjust this value to control the scaling effect */
  transition: transform 0.3s ease-in-out;
  /* Add a smooth transition effect */
}

/* Center mode styles */
.slick-center .slick-slide {
  opacity: 1;
  /* Optional: Adjust the opacity of the center item */
}

.slick-slide {
  transition: opacity 0.3s ease-in-out;
  /* Optional: Add a smooth opacity transition */
}

/* Optional: Add styling to improve the appearance */
.slick-slide h3 {
  background: #fff;
  padding: 20px;
  margin: 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.nextStyles {
  position: 'absolute';
  right: 0;
}

@media (max-width: 600px) {
  .container {
    padding: 2em 1.5em;
    background: url("/images/testimonial.png"), #ffffff;
  }

  .subHeading {
    width: 100%;
    font-size: 14px;
  }

  .item {
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.08);
    width: 500px;
  }

  .itemContent {
    font-size: 12px;
  }

  .itemName {
    font-size: 16px;
  }

  .sliderWrapper {
    width: 100%;
    padding: 1.5em 1em;
  }
}