.container {
  width: 100vw;
  padding: 2em 100px;
  position: relative;
}

.subHeading {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 2em;
  width: 58em;
  margin-top: 1em;
}

.itemContent {
  color: #331B3B;
  font-size: 14px;
  font-weight: 400;
  margin: 2em 0;
}

.itemName {
  color: #000;
  font-size: 12px;
  font-weight: 600;
}

.sliderWrapper {
  width: 100%;
  margin-top: 2em;
}

.slick-slide {
  margin: 0 10px;
}

.item {
  width: 90%;
  box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.08);
  padding: 2em;
  height: 35vh;
}

.itemName {
  font-size: 20px;
}

.testIcon {
  display: flex;
  gap: .3em;
}


.Circle {
  position: absolute;
  transform: rotate(90deg);
  right: -30em;
  z-index: -1;
  width: 40em;
  height: 40em;
}

@media (max-width: 600px) {
  .container {
    padding: 2em 1.5em;
  }

  .subHeading {
    width: 100%;
    font-size: 12px;
  }

  .item {
    width: 100%;
    margin: 0;
    height: 100%;
    padding: 5px;
  }

  .itemContent {
    font-size: 12px;
  }

  .itemName {
    font-size: 16px;
  }

  .sliderWrapper {
    width: 100%;
    padding: 1.5em 0;
    margin: 2em 0;
  }

  .Circle {
    position: absolute;
    transform: rotate(180deg);
    left: 0;
  }
}