.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFF;
    position: relative;
    overflow: hidden;
}

.title {
    color: #333;
    font-size: 1.3em;
    font-weight: 300;
    letter-spacing: 2.2px;
}

.heading {
    color: #000;
    font-size: 2.8em;
    font-style: normal;
    font-weight: 600;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    margin: 3em 0;
}

.inputWrapper {
    display: grid;
    grid-template-columns: auto auto;
    place-items: center;
    gap: 10em;
}

.input {
    font-size: 1em;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.18) !important;
    padding: 1.1em 1.5em;
    width: 400px;
    color: rgba(0, 0, 0, 0.31);
    background-color: transparent;
}

.message {
    font-size: 1em;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.18) !important;
    padding: 0 1.5em;
    color: rgba(0, 0, 0, 0.31);
    background-color: transparent;
    width: 100%;
    height: 25vh;
}

.button {
    font-size: 1.5em;
    padding: .4em 3em;
    border: 2px solid #1877D6;
    border-radius: 8px;
    font-weight: 700;
    background: transparent;
    color: #1877D6;
    cursor: pointer;
    width: fit-content;
    margin: 1.2em auto;
}

.Circle,
.plusLeft,
.plusRight,
.CircleBottom {
    position: absolute;
}

.Circle {
    top: -5em;
    transform: rotate(200deg);
    right: -30em;
    width: 40em;
    height: 40em;
}

.plusLeft {
    top: 5em;
    left: 0;
    width: 10em;
    height: 10em;
}

.plusRight {
    bottom: 0;
    right: 0;
    width: 10em;
    height: 10em;
}

.CircleBottom {
    bottom: -15em;
    left: -3em;
    width: 30em;
    height: 30em;
}

@media (max-width: 600px) {
    .container {
        padding: 6em 1.5em;
    }

    .heading {
        font-size: 2em;
    }

    .form {
        width: 100%;
        margin: 1.2em 0;
    }

    .inputWrapper {
        grid-template-columns: auto;
        gap: 1em;
    }

    .input {
        width: 100%;
    }

    .button {
        font-size: 1.3em;
        padding: .3em 2em;
        margin: 1em auto;
    }

    .message {
        height: 20vh;
    }

    .Circle {
        top: -5em;
        right: -15em;
        width: 20em;
        height: 20em;
    }

    .plusLeft {
        top: 0;
        left: -3em;
        width: 8em;
        height: 8em;
    }

    .plusRight {
        bottom: 0;
        right: -2em;
        width: 8em;
        height: 8em;
    }

    .CircleBottom {
        bottom: -15em;
        left: -3em;
        width: 20em;
        height: 20em;
    }

}