.container {
  width: 100vw;
  height: 100vh;
  padding: 2em 1.5em;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  gap: 2em;
}

.heading {
  color: #fff;
  font-size: 40px;
  font-weight: 400;
  width: 100%;
}

.subHeading {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7em;
}

.headHighLight {
  color: #6ba6ff;
}

.button {
  height: 55px;
  width: 200px;
  border-radius: 8px;
  background-color: #044ab3;
  outline: none;
  border: none;
  padding: 0 34px;
  color: #fff;
  font-size: 1em;
  font-weight: 700;
  cursor: pointer;
}

.carouselWrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: -1;
}

.image {
  object-fit: cover;
  object-position: bottom;
  height: 100vh;
}

@media (min-width: 420px) {
  .container {
    padding: 200px 100px 0;
    gap: 0;
    justify-content: start;
  }

  .heading {
    font-size: 46px;
    margin-bottom: 24px;
    width: 50%;
  }

  .subHeading {
    font-size: 16px;
    margin-bottom: 48px;
    width: 40%;
  }

  .button {
    height: 60px;
    width: 220px;
    font-size: 1.1em;
  }
}