.container {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  gap: 2em;
}
.customDotsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.customDot {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.activeDot {
  background-color: #333;
}

.heading {
  color: #fff;
  font-size: 2em;
  font-weight: 400;
  width: fit-content;
  z-index: 1;
  width: 100%;
}

.subHeading {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7em;
  margin-bottom: 25px;
}

.headHighLight {
  color: #6ba6ff;
}

.button {
  height: 55px;
  width: 200px;
  border-radius: 8px;
  background-color: #044ab3;
  outline: none;
  border: none;
  padding: 0 34px;
  color: #fff;
  font-size: 1em;
  font-weight: 700;
  cursor: pointer;
}

.image {
  object-fit: cover;
  object-position: bottom;
  height: 100vh;
  width: 100%;
  z-index: -1;
}

.sliderDiv1,
.sliderDiv2,
.sliderDiv3,
.sliderDiv4 {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0 1.5em;
}

.sliderDiv1 {
  background-image: url('https://i.postimg.cc/QVZGg1yz/banner1.png');
}

.sliderDiv2 {
  background-image: url('https://i.postimg.cc/76CwV03n/banner4.png');
}

.sliderDiv3 {
  background-image: url('https://i.postimg.cc/Xqd3MWDZ/banner3.png');
}

.sliderDiv4 {
  background-image: url('https://i.postimg.cc/xdnp2Y7B/banner2.png');
}

.contentDiv {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

@media (min-width: 450px) {
  .container {
    padding: 0;
    gap: 0;
    width: 100%;
  }

  .heading {
    font-size: 50px;
    margin-bottom: 24px;
    width: 60%;
  }

  .subHeading {
    font-size: 18px;
    margin-bottom: 48px;
    width: 100%;
  }

  .button {
    height: 60px;
    width: 220px;
    font-size: 1.1em;
  }

  .sliderDiv1,
  .sliderDiv2,
  .sliderDiv3,
  .sliderDiv4 {
    padding: 200px 100px 0;
  }

  .contentDiv {
    height: auto;
    display: initial;
    flex-direction: row;
    justify-content: start;
  }

  /* banner.module.css */

  /* Customize dots container */
  .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }

  /* Customize individual dots */
  .slick-dots li {
    list-style: none;
    margin: 0 8px;
  }

  /* Customize active dot */
  .slick-dots li.slick-active button::before {
    content: "•";
    /* Change to your preferred bullet character or styling */
    color: #FF5733;
    /* Change to your preferred color */
    font-size: 18px;
  }

}